.all__funds--items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-flow: wrap;
}

.all__funds--searchbar{
  display:flex;
  justify-content: center;
}