.Bottom--Right--Container {
  
  display: block;
  height: 100%;
  max-width: 75%;
  
  // align-items: center;
  // margin-left: 4em;
  // margin-top: 300px;

  
  
}

.Right--Panel {
  
  // background-color: #eee;
  // height:100%;
  // width:90%;
  // padding: 2em;
  // border-radius: 25px;
  // margin-bottom: 2em;
  // flex-direction: column;

  
  
}

.Card {
  background-color: #EEE;
  max-width: 400px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  



}

.News--Text {
  font-size: 10px;
  
}

.News--Heading h1 {
  font-size: 10px, !important;

  
}

.News--Image {
  max-height: 100px;
  position: absolute;
}
