.Bottom--Left--Container {
  flex: 0 1 90%;
            
            max-width: 90%;
            // border: 1px solid red;
            // background: #0BDA51;
            padding: .5em;
            align-items: center;
            overflow: scroll;

}