.Bottom--Section {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  
  background: #18606A;
  display: flex;
  flex-direction: row;
  max-height: 50%;
  overflow: scroll;

  
  }

