.Head--Banner {
  background-image: url(https://i.imgur.com/oPF4Diw.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
  margin-top: 4em;
  height: 350px;
  display: flex;
  flex-direction: row;
  

  }