.Section--One {
  display: flex;
  flex-direction: column;
  width: 50%;
  
  
}

.Head--Image {
margin: auto;
max-width: 350px;
max-height: 300px;
margin-top: 4em;

box-shadow: 10px 10px 8px #888888;

  
}

.User--Location {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 3em;
}